.moon {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: darkblue;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background 0.3s;
}

.clicked {
    background: chocolate;
}